.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../87/img/bg.png);
}

.balao.b0 {
    width: 58%;
}

.hole {
    top: 26%;
    left: 50%;
    width: 84%;
    height: 7%;
}

.foco {
    top: 91.3%;
    width: 37rem;
    height: 6rem;
    touch-action: none;
    pointer-events: none;
    background-image: url(img/btn_print_salvar.png);
}

input[type="text"].i0 {
    top: 14.5%;
    left: 50%;
    width: 37.4rem;
    border: none;
    padding: .2rem;
    color: #1f1f1f;
    font-size: 1.5rem;
    font-family: 'VivoTypeBold';
    border-bottom: 0.2rem solid #cbcbcb;
}

input[type="text"].i1 {
    top: 27.5%;
    left: 50%;
    width: 37.4rem;
    border: none;
    padding: .2rem;
    color: #1f1f1f;
    font-size: 1.5rem;
    font-family: 'VivoTypeBold';
    border-bottom: 0.2rem solid #cbcbcb;
}

.feedback {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    background: rgba(44, 5, 59, .95);
}

.feedback img {
    width: 30%;
    height: auto;
}

.feedback button.fechar {
    position: absolute;
    top: 57%;
    right: 32%;
    width: 8%;
    height: 5%;
    border: none;
    cursor: pointer;
    background: url(../../img/btn_close.png) center center/contain no-repeat;
}