.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../95/img/bg.png);
}

.balao.b0 {
    width: 50%;
    top: 50%;
    left: 50%;
}

.hole {
    left: 50%;
    top: 50%;
    width: 0%;
    height: 0%;
}

#btn_arrow {
    visibility: hidden;
    bottom: 10%;
    left: 84%;
    width: 7rem;
    height: 7rem;
    background-image: url(../../img/bt_avancar.png);
}