.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../74/img/bg.png);
}

.balao.b0 {
    width: 50%;
    top: 49%;
    left: 71%;
}

.hole {
    left: 84%;
    top: 34.8%;
    width: 16%;
    height: 9%;
}

.foco {
    top: 64.4%;
    left: 83.6%;
    width: 3.4rem;
    height: 3.4rem;
    background-image: url(../../img/btn_print_check.png);
}