.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../61/img/bg.png);
}

.balao.b0 {
    width: 60%;
}

.hole {
    left: 50%;
    top: 91.3%;
    width: 88%;
    height: 8%;
}

.foco {
    cursor: default;
}

.foco.f0 {
    top: 12%;
    left: 43.9%;
    width: 16.5rem;
    height: 3rem;
    background-image: url(../../img/btn_print_conexao_pausada.png);
}

.foco.f1 {
    top: 91.4%;
    width: 36.5rem;
    background-image: url(../../img/btn_print_retomar_conexao.png);
}