.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../69/img/bg.png);
}

.balao.b0 {
    width: 50%;
    top: 79%;
    left: 54%;
}

.hole {
    left: 38%;
    top: 93%;
    width: 17.5%;
    height: 9%;
}

.foco {
    top: 93.1%;
    left: 38.5%;
    width: 3.8rem;
    height: 5rem;
    background-image: url(../../img/btn_print_icone_perfis.png);
}