.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../../img/bg_portrait.png);
}

.title {
    width: 90%;
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--magenta-vivo);
    font-family: VivoTypeBold, Arial, Helvetica, sans-serif;
}

.container_items,
.container_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_items {
    justify-content: space-between;
    width: 85%;
}

.container_items p {
    width: 70%;
    text-align: left;
    color: var(--white);
    font-size: 2.3rem;
    line-height: 2.3rem;
    font-family: VivoTypeBold, Arial, Helvetica, sans-serif;
}

/* BTNS */
.container_btns {
    justify-content: flex-end;
    width: 24%;
    gap: 1.2rem;
}

.container_items .btns {
    position: relative;
    width: 3.9rem;
    height: 3.9rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    image-rendering: -webkit-optimize-contrast;
}

.container_items .btns:nth-child(1) {
    background-image: url(../1/img/img_init_module.png);
}

.container_items .btns:nth-child(2) {
    background-image: url(../1/img/img_review.png);
}

/* BTNS LOCKED */
.container_items .btns.locked {
    cursor: default;
}

.container_items .btns.locked:nth-child(1) {
    background-image: url(../1/img/img_init_module_locked.png);
}

.container_items .btns.locked:nth-child(2) {
    background-image: url(../1/img/img_review_locked.png);
}

.container_avancar {
    display: none;
    position: absolute;
    bottom: 1.2%;
    right: 12.5%;
    width: 4rem;
    height: auto;
    cursor: pointer;
}

.btn_arrow {
    width: 100%;
    height: auto;
}