/* BALÃO */
.balao button.fechar {
    top: -1rem;
    right: -1rem;
}

.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
}

.s1 {
    background-image: url(../../img/bg_portrait.png);
}

.s1 .p1 {
    font-family: 'VivoTypeBold';
    top: 25%;
    left: 50%;
    font-size: 92px;
    text-align: center;
    width: 70%;
}

.s1 .p2 {
    font-family: 'VivoTypeLight';
    top: 45%;
    left: 50%;
    font-size: 54px;
    text-align: center;
    width: 80%;
}

.s1 img {
    cursor: pointer;
    top: 90%;
    left: 83%;
    width: 16%;
}

.s2 {
    background-image: url(img/26.png);
}

.s2 .hole {
    top: 93%;
    left: 85.5%;
    width: 8.05rem;
    height: 8.05rem;
}

.s2 .balao {
    width: 48%;
    padding: 0 1rem;
}

.s2 .foco {
    top: 92.95%;
    left: 85.5%;
    width: 8.05rem;
    background-image: url(img/btn_print_conta.png);
}

.s3 {
    background-image: url(img/103.png);
}

.s3 .hole {
    left: 50%;
    top: 9%;
    width: 41em;
    height: 7em;
}

.s3 .balao {
    width: 62%;
    padding: 0 1rem;
}

.s3 .foco {
    top: 9.6%;
    left: 22%;
    width: 11.5rem;
    background-image: url(img/btn_print_dados.png);
}

.s4 {
    background-image: url(img/105.png);
}

.s4 .hole {
    left: 50%;
    top: 48%;
    width: 42em;
    height: 19em;
}

.s4 .balao {
    top: 75%;
    width: 63%;
    padding: 0 1rem;
}

.s4 .foco {
    top: 48%;
    width: 42rem;
    height: 20rem;
    cursor: default;
    background-image: url(img/btn_print_endereco.png);
}

.s5 {
    background-image: url(img/106.png);
}

.s5 .hole {
    top: 3.1%;
    left: 10%;
    width: 4rem;
    height: 5rem;
}

.s5 .balao {
    width: 65%;
}

.s5 .foco {
    top: 3.5%;
    left: 9.2%;
    width: 2.7rem;
    height: 3rem;
    background-image: url(../../img/btn_print_arrow_back.png);
}

.s6 {
    background-image: url(img/104.png);
}

.s6 .hole {
    top: 22.5%;
    left: 50%;
    width: 41em;
    height: 7em;
}

.s6 .balao {
    width: 47%;
    padding: 0 1.5rem;
}

.s6 .foco {
    top: 22.8%;
    left: 26.7%;
    width: 16.8rem;
    background-image: url(img/btn_print_sobre.png);
}

.s7 {
    background-image: url(img/107.png);
}

.s7 .foco {
    top: 35.25%;
    left: 49.8%;
    width: 18rem;
    height: 14.3rem;
    cursor: default;
    background-image: url(img/btn_print_vivo.png);
}

.s8 {
    background-image: url(img/108.png);
}

.s8 .hole {
    top: 3.1%;
    left: 12.4%;
    width: 6rem;
    height: 5rem;
}

.s8 .balao {
    width: 50%;
}

.s8 .foco {
    top: 2.6%;
    left: 12.5%;
    width: 2.6rem;
    height: 3rem;
    background-image: url(../../img/btn_print_arrow_back.png);
}

.s9 {
    background-image: url(img/109.png);
}

.s9 .hole {
    top: 29%;
    left: 50%;
    width: 41em;
    height: 7em;
}

.s9 .balao {
    width: 61%;
    padding: 0 1rem;
}

.s9 .foco {
    top: 29.2%;
    left: 29.5%;
    width: 18.9rem;
    background-image: url(img/btn_print_termos.png);
}

.s10 {
    background-image: url(img/110.png);
}

.s10 .hole {
    top: 3.1%;
    left: 12.4%;
    width: 6rem;
    height: 5rem;
}

.s10 .balao {
    width: 50%;
}

.s10 .foco {
    top: 3.5%;
    left: 14.1%;
    width: 2.6rem;
    height: 3rem;
    background-image: url(../../img/btn_print_arrow_back.png);
}

.s11 {
    background-image: url(img/111.png);
}

.s11 .hole {
    top: 35.5%;
    left: 50%;
    width: 41em;
    height: 7em;
}

.s11 .balao {
    top: 54%;
    width: 68%;
    padding: 0 1rem;
}

.s11 .foco {
    top: 35.65%;
    left: 51.3%;
    width: 39.65rem;
    background-image: url(img/btn_print_excluir_conta.png);
}

.s12 {
    background-image: url(img/113.png);
}

.s12 .hole {
    top: 64.5%;
    left: 50%;
    width: 37.5rem;
    height: 7rem;
}

.s12 .balao {
    top: 47%;
    width: 73%;
}

.s12 .foco {
    top: 64.5%;
    background-image: url(img/btn_print_excluir_conta_red.png);
}

.s13 {
    background-image: url(img/112.png);
}

.s13 .hole {
    top: 42%;
    left: 50%;
    width: 41em;
    height: 7em;
}

.s13 .balao {
    top: 60%;
    width: 73%;
}

.s13 .foco {
    top: 42.1%;
    left: 25.6%;
    width: 14.8rem;
    background-image: url(img/btn_print_finalizar.png);
}

.s14 {
    background-image: url(img/115.png);
}

.s14 .foco {
    top: 56.3%;
    left: 66.2%;
    width: 3.8rem;
    height: 3.8rem;
    background-image: url(img/btn_print_sair.png);
}

.s15 {
    background-image: url(img/116.png);
}