.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
}

.hole {
    top: 3.75%;
    left: 89.5%;
    width: 8%;
    height: 5%;
}

.balao {
    width: 67%;
}

.balao button.fechar {
    top: -1rem;
    right: -1.5rem;
}

/* TELAS PRINCIPAIS */
.capas {
    background-image: url(../../img/bg_portrait.png);
}

.capas .p1 {
    top: 25%;
    left: 50%;
    width: 95%;
    font-size: 5rem;
    text-align: center;
    font-family: 'VivoTypeBold';
}

.capas .p2 {
    top: 43%;
    left: 50%;
    width: 80%;
    font-size: 3.2rem;
    text-align: center;
    font-family: 'VivoTypeLight';
}

.capas.s7 .p2 {
    top: 47%;
}

.capas img {
    top: 80%;
    left: 83%;
    width: 16%;
    height: auto;
    cursor: pointer;
}

/* FIM TELAS PRINCIPAIS */

.s2 {
    background-image: url(img/print_1.png);
}

.s2 .hole {
    top: 19%;
    left: 62.5%;
    width: 23%;
    height: 13%;
}

.s2 .foco {
    top: 19.2%;
    left: 62.4%;
    width: 9rem;
    height: 8rem;
    background-image: url(../../img/btn_print_celulares.png);
}

.s4 {
    background-image: url(img/print_2.png);
}

.s4 .foco {
    top: 45.2%;
    width: 42rem;
    height: 9rem;
    background-image: url(../../img/btn_print_cleber.png);
}

.s5 {
    background-image: url(img/print_3.png);
}

.s5 .foco {
    top: 3.7%;
    left: 91%;
    width: 1rem;
    height: 2.3rem;
    background-image: url(../../img/btn_print_menu.png);
}

.s6 {
    background-image: url(img/print_4.png);
}

.s6 .hole {
    top: 8%;
    left: 64.2%;
    width: 13%;
}

.s6 .foco {
    top: 8.15%;
    left: 64.4%;
    width: 4.3rem;
    height: 2rem;
    background-image: url(../../img/btn_print_editar.png);
}

.s8 {
    background-image: url(img/print_5.png);
}

.s8 #foco_1 {
    top: 41.3%;
    left: 18%;
    width: 6rem;
    height: 3.5rem;
    pointer-events: none;
    touch-action: none;
    background-image: url(../../img/btn_print_cleber_name.png);
}

.s8 #foco_2 {
    top: 53.95%;
    left: 22.1%;
    width: 10.4rem;
    height: 4rem;
    background-image: url(../../img/btn_print_check_celular.png);
}

.s9 {
    background-image: url(img/print_6.png);
}

.s9 .hole {
    top: 91.5%;
    left: 50%;
    width: 83%;
    height: 6.2%;
}

.s9 .balao {
    width: 62%;
}

.s9 .foco {
    top: 91.5%;
    background-image: url(../../img/btn_print_salvar_mudancas.png);
}