.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
}

.hole {
    top: 3.62%;
    left: 91%;
    width: 4%;
    height: 5%;
}

.foco.lock,
input.lock {
    cursor: default;
    touch-action: none;
    pointer-events: none;
}

.balao {
    width: 67%;
}

.balao button.fechar {
    top: -1rem;
    right: -1.5rem;
}

/* TELAS PRINCIPAIS */
.capas {
    background-image: url(../../img/bg_portrait.png);
}

.capas .p1 {
    top: 25%;
    left: 50%;
    width: 95%;
    font-size: 5rem;
    text-align: center;
    font-family: 'VivoTypeBold';
}

.capas .p2 {
    top: 43%;
    left: 50%;
    width: 80%;
    font-size: 3.2rem;
    text-align: center;
    font-family: 'VivoTypeLight';
}

.capas.s7 .p2 {
    top: 47%;
}

.capas img {
    top: 80%;
    left: 83%;
    width: 16%;
    height: auto;
    cursor: pointer;
}

/* FIM TELAS PRINCIPAIS */

.s2 {
    background-image: url(img/print_1.png);
}

.s2 .hole {
    top: 19%;
    left: 62.5%;
    width: 23%;
    height: 13%;
}

.s2 .foco {
    top: 19.2%;
    left: 62.4%;
    width: 9rem;
    height: 8rem;
    background-image: url(../../img/btn_print_celulares.png);
}

.s4 {
    background-image: url(img/print_2.png);
}

.s4 .foco {
    top: 45.2%;
    width: 42rem;
    height: 9rem;
    background-image: url(../../img/btn_print_cleber.png);
}

.s5 {
    background-image: url(img/print_3.png);
}

.s5 .foco {
    top: 3.7%;
    left: 91%;
    width: 1rem;
    height: 2.3rem;
    background-image: url(../../img/btn_print_menu.png);
}

.s6 {
    background-image: url(img/print_4.png);
}

.s6 .hole {
    top: 8%;
    left: 64.2%;
    width: 13%;
}

.s6 .foco {
    top: 8.15%;
    left: 64.4%;
    width: 4.3rem;
    height: 2rem;
    background-image: url(../../img/btn_print_editar.png);
}

.s8 {
    background-image: url(img/print_5.png);
}

.s8 .balao {
    top: 53%;
    width: 53%;
}

.s8 .hole {
    top: 40.4%;
    left: 50%;
    width: 84%;
    height: 7%;
}

.s8 input[type="text"] {
    top: 41.3%;
    left: 50%;
    width: 36.6rem;
    height: 3rem;
    border: none;
    overflow: hidden;
    text-align: left;
    color: #1f1f1f;
    font-size: 1.5rem;
    background-color: transparent;
    border-bottom: 0.2rem solid #efefef;
    font-family: VivoTypeBold, Arial, Helvetica, sans-serif;
}

.s8 .foco {
    top: 53.95%;
    left: 22.1%;
    width: 10.4rem;
    height: 4rem;
    cursor: pointer;
}

.s8 #foco_1 {
    background-image: url(../../img/btn_print_check_celular_gray.png);
}

.s8 #foco_2 {
    display: none;
    background-image: url(../../img/btn_print_check_celular.png);
}

.s9 {
    background-image: url(img/print_6.png);
}

.s9 .hole {
    top: 91.5%;
    left: 50%;
    width: 83%;
    height: 6.2%;
}

.s9 .balao {
    width: 62%;
}

.s9 .foco {
    top: 91.5%;
    background-image: url(../../img/btn_print_salvar_mudancas.png);
}

/* FEEDBACK */
.feedback {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    background: rgba(44, 5, 59, .95);
}

.feedback img {
    width: 30%;
    height: auto;
}

.feedback button.fechar {
    position: absolute;
    top: 57%;
    right: 32%;
    width: 8%;
    height: 5%;
    border: none;
    cursor: pointer;
    background: url(../../img/btn_close.png) center center/contain no-repeat;
}