.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../54/img/bg.png);
}

.balao.b0 {
    width: 50%;
    top: 50%;
    left: 50%;
}

.destaque.d0 {
    width: 51%;
    height: 5%;
    top: 75%;
    left: 50%;
}