/* BALÃO */
.mascara_balao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hole {
    z-index: 3;
    box-shadow: 0 0 0 99999px rgba(44, 5, 59, .9);
}

.balao {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    border-radius: 1.5rem;
    background: #78009d;
}

.balao p {
    text-align: center;
    font-family: VivoTypeRegular;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1.5rem;
    color: #fff;
}

.balao .seta {
    position: absolute;
    bottom: -2.7rem;
    left: 3rem;
    width: 3rem;
    height: 3rem;
    background: url(../../img/seta_balao.png) center center/contain no-repeat;
}

.balao .seta.cima {
    position: absolute;
    top: -2.7rem;
    left: 3rem;
    transform: scale(-1);
}

.balao button.fechar {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    background: url(../../img/btn_close.png) center center/contain;
}

.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-image: url(../57/img/bg.png); */
    color: white;
}

.s1 {
    background-image: url(../../img/bg_portrait.png);
}

.s1 .p1 {
    font-family: 'VivoTypeBold';
    top: 25%;
    left: 50%;
    font-size: 92px;
    text-align: center;
    width: 65%;
}

.s1 .p2 {
    font-family: 'VivoTypeLight';
    top: 45%;
    left: 50%;
    font-size: 54px;
    text-align: center;
    width: 80%;
}

.s1 img {
    cursor: pointer;
    top: 90%;
    left: 83%;
    width: 16%;
}

.s2 {
    background-image: url(img/26.png);
}

.s2 .balao {
    width: 50%;
    top: 30%;
    left: 65%;
}

.s2 .hole {
    left: 50%;
    top: 42%;
    width: 16em;
    height: 16em;
    border-radius: 50%;
}

.s2 .foco {
    top: 43%;
    left: 50.3%;
    width: 12.6rem;
    height: 12.6rem;
    background-image: url(../../img/btn_print_roteador.png);
}

.s3 {
    background-image: url(img/86.png);
}

.s3 .balao {
    width: 50%;
    top: 29%;
    left: 65%;
}

.s3 .balao .seta {
    top: -2.7rem;
    transform: rotate(180deg);
    left: 15rem;
    bottom: 0px;
}

.s3 .foco {
    top: 12.8%;
    left: 72.4%;
    width: 12rem;
    height: 8.5rem;
    background-image: url(img/btn_repetidores.png);
}

.s3 .hole {
    left: 72%;
    top: 12%;
    width: 11em;
    height: 11em;
}

.s4 {
    background-image: url(img/90.png);
}

.s4 .foco {
    top: 91.7%;
    background-image: url(img/btn_print_instalar.png);
}

.s5 {
    background-image: url(img/91.png);
}

.s6 {
    background-image: url(img/94.png);
}

.s7 {
    background-image: url(img/95.png);
}

.s8 {
    background-image: url(img/96.png);
}

.s9 {
    background-image: url(img/97.png);
}

.s10 {
    background-image: url(img/98.png);
}

.s11 {
    background-image: url(img/99.png);
}

.s12 {
    background-image: url(img/100.png);
}

.s13 {
    background-image: url(img/101.png);
}

.s13 .foco {
    top: 91.4%;
    background-image: url(../../img/btn_print_ok_white.png);
}

.sl {
    top: 96.3%;
    left: 84%;
    width: 7rem;
    height: 3rem;
    background-image: url(../../img/btn_print_proximo.png);
}

/* loadanim */
.lds-dual-ring {
    top: 48.8%;
    left: 51.5%;
    display: inline-block;
    width: 5em;
    height: 5em;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 8px solid #660099;
    border-color: #660099 #660099 transparent transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}