.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
}

.hole {
    top: 9.4%;
    left: 50%;
    width: 88%;
    height: 4%;
}

.balao button.fechar {
    top: -1rem;
    right: -1.5rem;
}

.s1 {
    background-image: url(../../img/bg_portrait.png);
}

.s1 .p1 {
    top: 25%;
    left: 50%;
    width: 95%;
    font-size: 5rem;
    text-align: center;
    font-family: 'VivoTypeBold';
}

.s1 .p2 {
    top: 43%;
    left: 50%;
    width: 80%;
    font-size: 3.2rem;
    text-align: center;
    font-family: 'VivoTypeLight';
}

.s1 img {
    top: 80%;
    left: 83%;
    width: 16%;
    height: auto;
    cursor: pointer;
}

.s2 {
    background-image: url(img/print_1.png);
}

.s2 .hole {
    top: 81.2%;
    left: 13.5%;
    width: 15%;
    height: 10%;
}

.s2 .balao {
    width: 58%;
}

.s2 .foco {
    top: 79.8%;
    left: 13.2%;
    width: 5.4rem;
    height: 5rem;
    background-image: url(../../img/btn_print_icone_todos.png);
}

.s3 {
    background-image: url(img/print_2.png);
}

.s3 .balao {
    width: 62%;
}

.s4 {
    background-image: url(img/print_3.png);
}

.s4 .balao {
    width: 50%;
}

.s4 .foco {
    top: 9.4%;
    left: 79.95%;
    width: 9.3rem;
    height: 3rem;
    background-image: url(../../img/btn_print_bloqueados_white.png);
}

.s5 {
    background-image: url(img/print_4.png);
}

.s5 .hole {
    top: 23.2%;
    height: 8%;
}

.s5 .balao {
    width: 62%;
}

.s5 .foco {
    top: 23.6%;
    left: 49.8%;
    width: 42rem;
    height: 8rem;
    background-image: url(../../img/btn_print_cleber_seta.png);
}

.s6 {
    background-image: url(img/print_5.png);
}

.s6 .hole {
    top: 75%;
    left: 50.15%;
    width: 46%;
}

.s6 .foco {
    top: 75%;
    left: 50.2%;
    width: 20.9rem;
    background-image: url(../../img/btn_print_desbloquear_dispositivo.png);
}

.s7 {
    background-image: url(img/print_6.png);
}

.s7 .hole {
    top: 14.7%;
    left: 41%;
    width: 32%;
    height: 8%;
}

.s7 .balao {
    width: 60%;
}