.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
}

.foco {
    top: 42%;
    left: 50%;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 50%;
    border: 5px dashed #609;
    background-color: transparent;
}

.hole {
    top: 9.4%;
    left: 50%;
    width: 88%;
    height: 4%;
}

.balao .seta {
    top: -2.7rem;
    left: 9rem;
    transform: scaleY(-1);
}

.s1 {
    background-image: url(../../img/bg_portrait.png);
}

.s1 .p1 {
    top: 25%;
    left: 50%;
    width: 95%;
    font-size: 5rem;
    text-align: center;
    font-family: 'VivoTypeBold';
}

.s1 .p2 {
    top: 43%;
    left: 50%;
    width: 80%;
    font-size: 3.2rem;
    text-align: center;
    font-family: 'VivoTypeLight';
}

.s1 img {
    top: 80%;
    left: 83%;
    width: 16%;
    height: auto;
    cursor: pointer;
}

.s2 {
    background-image: url(img/print_1.png);
}

.s2 .hole {
    top: 81.2%;
    left: 13.5%;
    width: 15%;
    height: 10%;
}

.s2 .balao {
    top: 64%;
    left: 31%;
    width: 50%;
}

.s2 .balao .seta {
    top: unset;
    left: 3rem;
    transform: scaleX(-1);
}

.s2 .foco {
    top: 79.8%;
    left: 13.1%;
    border: 5px dashed #fff;
}

.s3 {
    background-image: url(img/print_2.png);
}

.s3 .balao {
    top: 27%;
    left: 65%;
    width: 50%;
}

.s3 .foco {
    top: 13.5%;
    left: 76%;
    border: 5px dashed #CC3D70;
}

.s4 {
    background-image: url(img/print_3.png);
}

.s4 .balao {
    top: 24%;
    left: 50%;
    width: 50%;
}

.s4 .foco {
    top: 9.5%;
    left: 79.8%;
    width: 11rem;
    height: 11rem;
    border: 5px dashed #CC3D70;
}

.s5 {
    background-image: url(img/print_3.png);
}

.s5 .hole {
    top: 23.2%;
    height: 8%;
}

.s5 .balao {
    top: 42%;
    left: 50%;
    width: 50%;
}

.s5 .foco {
    top: 23.6%;
    left: 80%;
    width: 13rem;
    height: 13rem;
}

.s6 {
    background-image: url(img/print_4.png);
}

.s6 .hole {
    top: 75%;
}

.s6 .balao {
    top: 88%;
    left: 50%;
}

.s6 .foco {
    top: 75%;
    width: 27rem;
    height: 5rem;
    border-radius: unset;
}

.s7 {
    background-image: url(img/print_5.png);
}

.s7 .hole {
    top: 14.7%;
    left: 41%;
    width: 32%;
    height: 8%;
}

.s7 .balao {
    top: 29%;
    left: 50%;
    width: 50%;
}