/* BALÃO */
.balao button.fechar {
  top: -1rem;
  right: -1rem;
}

.content {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}

.s1 {
  background-image: url(../../img/bg_portrait.png);
}

.s1 .p1 {
  font-family: 'VivoTypeBold';
  top: 25%;
  left: 50%;
  font-size: 92px;
  text-align: center;
  width: 88%;
}

.s1 .p2 {
  font-family: 'VivoTypeLight';
  top: 51%;
  left: 50%;
  font-size: 54px;
  text-align: center;
  width: 80%;
}

.s1 img {
  cursor: pointer;
  top: 90%;
  left: 83%;
  width: 16%;
}

.s2 {
  background-image: url(img/102.png);
}

.s2 .foco {
  display: block;
  top: 50%;
  width: 41em;
  height: 53em;
  touch-action: none;
  pointer-events: none;
  background-image: url(img/btn_print_repetidor.png);
}

.s2 img {
  cursor: pointer;
  top: 90%;
  left: 83%;
  width: 16%;
}