.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../90/img/bg.png);
}

.balao.b0 {
    width: 65.5%;
    padding: 0 1rem;
}

.hole {
    top: 76%;
    left: 50%;
    width: 90%;
    height: 24%;
}

.foco.lock {
    touch-action: none;
    pointer-events: none;
}

.foco {
    top: 76%;
    width: 44rem;
    height: 22rem;
    background-image: url(img/btn_print_wi_fi.png);
}