.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../108/img/bg.png);
}

.balao.b0 {
    width: 72%;
    padding: 0 0.5rem;
}

.hole {
    top: 21%;
    left: 50%;
    width: 88%;
    height: 11%;
}

.foco {
    top: 21%;
    background-image: url(img/btn_print_wi_fi.png);
}