.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../100/img/bg.png);
}

.balao.b0 {
    width: 56%;
}

.hole {
    top: 32.5%;
    left: 50%;
    width: 84%;
    height: 13%;
}

.foco {
    top: 32.2%;
    left: 49.9%;
    height: 12rem;
    background-image: url(img/btn_print_escritorio.png);
}