.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../94/img/bg.png);
}

.balao.b0 {
    width: 50%;
    top: 42%;
    left: 50%;
}

.hole {
    left: 50%;
    top: 29.5%;
    width: 67%;
    height: 6%;
}

.foco.f0 {
    top: 29.6%;
    width: 30.8rem;
    background-image: url(img/btn_print_servidores.png);
}

.foco.f1 {
    top: 19.75%;
    left: 49.9%;
    width: 12.2rem;
    touch-action: none;
    pointer-events: none;
    background-image: url(img/btn_print_iniciar.png);
}