.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../91/img/bg.png);
}

.balao.b0 {
    width: 50%;
    top: 81%;
    left: 50%;
}

.hole {
    top: 94.7%;
    left: 50%;
    width: 85%;
    height: 8%;
}

.foco {
    top: 94.7%;
    background-image: url(../../img/btn_print_compartilhar.png);
}