.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../105/img/bg.png);
}

.balao.b0 {
    width: 63%;
}

.hole {
    top: 14%;
    left: 50%;
    width: 85%;
    height: 11%;
}

.foco {
    top: 14.1%;
    left: 47%;
    height: 6.8rem;
    cursor: default;
    background-image: url(img/btn_print_wi_fi.png);
}