.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../77/img/bg.png);
}

.balao.b0 {
    width: 50%;
    top: 38%;
    left: 50%;
}

.hole {
    left: 45%;
    top: 22%;
    width: 70%;
    height: 9%;
}

.foco {
    top: 22.05%;
    left: 43.5%;
    width: 32rem;
    height: 8rem;
    background-image: url(../../img/btn_print_horarios_desconexao.png);
}