.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../104/img/bg.png);
}

.balao.b0 {
    width: 61%;
    padding: 0 1rem;
}

.hole {
    top: 13%;
    left: 50%;
    width: 40%;
    height: 8%;
}

.foco.f0 {
    top: 13.2%;
    width: 14.41rem;
    background-image: url(img/btn_print_status.png);
}

.foco.f1 {
    top: 91.3%;
    touch-action: none;
    pointer-events: none;
    background-image: url(img/btn_print_otimizar.png);
}