.content {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../98/img/bg.png);
}

.balao.b0 {
    top: 45%;
    width: 61%;
}

.hole {
    top: 63%;
    left: 48%;
    width: 74%;
    height: 8%;
}

.foco.f0 {
    top: 63.15%;
    left: 47.4%;
    width: 33.52rem;
    background-image: url(img/btn_print_escritorio.png);
}

.foco.f1 {
    top: 91.5%;
    touch-action: none;
    pointer-events: none;
    background-image: url(img/btn_print_medir.png);
}

.coverCheckBox {
    position: absolute;
    top: 62.2%;
    left: 77.6%;
    width: 3%;
    height: 1.8%;
    border-radius: 50%;
    background-color: #fff;
}